:root {
    --green: #FF59B4;
    --white: #ffffff;
    --black: #000000; 
}
* {
    color: var(--fontColor);
    font-family: helvetica;
  }
body {
      background: var(--bg);
  }
body{
    font-family: monospace;
    font-size: xx-large;
}
ul {
    font-family: Helvetica;
}
li {
    color: #000000;
    list-style: circle;
}
h2{
    color: rgb(35, 35, 131);
    font-size: x-large;
}
h1{
  color: white;
  font-size: xx-large;
}
.list {
    list-style: square;
}
.btn {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }